<% layout('layout') -%>
<section class="space-y-4">
  <h1 class="text-2xl font-semibold">Produto (API) • Categorias</h1>
  <%- include('../components/table', {
    cols: [
      { key:'id',        label:'ID' },
      { key:'nome',      label:'Categoria' },
      { key:'descricao', label:'Descrição' }
    ],
    rows: items,
    basePath: '#'
  }) %>
</section>
